.home-content {
  z-index: 10;
  position: relative;
  top: 60px;
}

.home-headline {
  font-size: 22px;
  text-transform: uppercase;
  color: black;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.home-message {
  width: 75%;
  margin: auto;
  text-align: left;
}
