:root {
  --header-footer-background: rgb(76, 76, 76);
  --yellow: rgb(241, 220, 25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f5f5f5;
}

h1,
h2,
h3,
h4 {
  font-family: 'Mulish', sans-serif;
  margin: 0;
  /* font-weight: 400; */
}

code {
  font-family: 'Source Code Pro', sans-serif;
}

hr {
  border-top: 0.1px solid lightgray;
}
